.u-section-1 {
  background-image: url("images/homebannereka.jpg");
  background-position: 50% 50%;
  background-size: 110%;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-text-1 {
  font-family: Bassy;
  margin: 583px -68px 36px 1014px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 914px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 804px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 714px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 614px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/Resizer.in-616a81e96a195.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 975px;
}

.u-section-2 .u-text-1 {
  font-family: edosz;
  font-size: 6.5625rem;
  background-image: none;
  width: 804px;
  margin: 66px auto 0;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 29px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 60px 60px;
  grid-auto-columns: calc(33.3333% - 40px);
  grid-template-columns: calc(33.3333% - 40px) calc(33.3333% - 40px) calc(33.3333% - 40px);
  min-height: 620px;
}

.u-section-2 .u-image-1 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/dtiktik.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-2 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

.u-section-2 .u-image-2 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/616a8d30a8e561.jpg");
  background-position: 0% 0%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-3 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

.u-section-2 .u-image-3 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/LOGO.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-4 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

.u-section-2 .u-image-4 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/isometric-safe-security-online-payment-background_90099-48.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-5 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

.u-section-2 .u-image-5 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/96974598-online-payment-vector-illustration.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-6 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

.u-section-2 .u-image-6 {
  animation-duration: 1000ms;
  box-shadow: 0 0 8px 0 rgba(128,128,128,0.85);
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/youtube_2dribble_4x.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 18px 21px 30px;
}

.u-section-2 .u-text-7 {
  font-family: edosz;
  letter-spacing: 1px;
  margin: 156px 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
    margin-top: 121px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 40px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 40px));
    min-height: 511px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 340px;
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -161px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 30px);
    grid-template-columns: repeat(2, calc(50% - 30px));
    min-height: 881px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 993px;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -866px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 915px;
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -762px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}@font-face {
  font-family: 'Bassy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bassy.ttf);
}@font-face {
  font-family: 'edosz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/edosz.ttf);
}